google-cloud-aiplatform>=1.42.1
numexpr>=2.8.7
streamlit>=1.27.1
streamlit-extras>=0.3.2
streamlit-option-menu>=0.3.6
wget>=3.2
anthropic>=0.39.0
fastapi>=0.115.4
litellm>=1.52.3
pillow>=11.0.0
prompt-toolkit>=3.0.48
pygments>=2.18.0
git+https://github.com/OpenInterpreter/open-interpreter.git@development#egg=open-interpreter